    </main>
    <footer class="footer mt-auto py-3 bg-light">
      <div class="container">
        <span class="text-muted">
          Created with 
          <a href="https://getbootstrap.com/">Bootstrap 5</a> and 
          <a href="https://expressjs.com/">Express</a>
          by Sathi Akter @ Centennial College
        </span>
      </div>
    </footer> 
    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    <!-- Custom JS -->
    <script src="/javascripts/main.js"></script>
  </body>
</html>