<% include partials/header.ejs %> 

<% include partials/nav.ejs %> 

<section class="container my-5">
  <div class="card w-100" style="width: 18rem;">
    <img src="images/Sathi-portfolio-picture.jpg" class="card-img-top" alt="Sathi Akter Profile Picture">
    <div class="card-body">
      <h5 class="card-title"> <%= name %>  </h5>
      <p class="card-text">is a Software Engineering Technology student at Centennial College. She has passed 6 semesters and is close to getting her diploma. 
          <hr>
          She is a proud Canadian since 2015, loves sunny days, and enjoys the winters the most. </p>
    </div>
  </div>
</section>

<% include partials/footer.ejs %> 
