<% include partials/header.ejs %> <% include partials/nav.ejs %>

<section
  class="container my-5 d-flex justify-content-center align-items-center h-100"
>
  <div class="wrapper h-auto">
    <h1>Welcome to My Portfolio</h1>
    <p class="lead">
      This portfolio is dedicated for as the group project for COMP229.
    </p>
    <hr />
    <div class="alert alert-light" role="alert">
      My missong is to create custom web applications with boldness, authority
      and strength.
    </div>
    <hr />
    <p class="lead">
      <a href="/about" class="btn btn-lg btn-success fw-bold border-green"
        >Learn more ...</a
      >
    </p>
  </div>
</section>

<% include partials/footer.ejs %>
