<% include partials/header.ejs %> 

<% include partials/nav.ejs %> 

<section class="container my-5">
    <h1><%= title %></h1>
    <p>Contact <%= title %></p>
</section>

<% include partials/footer.ejs %> 
